.app {
    width: 100%;
    background-color: #523b39;;
    color: white;
}

.top-bar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    height: 55px;
}

.top-bar > div {
    height: 100%;
    line-height: 55px;
}

.logo {
    font-weight: bold;
    padding: 0 18px;
}

.page-name {
    padding-left: 9px;
    font-weight:100;
}

.body {
    padding: 18px 55px;
    min-height: calc( 100vh - 91px);
}

.headline-text {
    font-weight: bold;
}

.headline-interactions {
    display: flex;
    justify-content: space-between;
}

.table-container {
    margin: 50px 0;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 150px;
}

.show-selection {
    display: flex;
}

.show-selection > span {
    margin-right: 15px;
}

.screen-dimmer {
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    opacity: 0.4;
    background-color: black;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 150;
    position: fixed;
    top: calc(50vh - 120px);
    left: calc(50vw - 120px);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }